<body class="text-center">

  <div class="col-5 box text-center">
    <form action="/user/flavio">

      <div class="input-group col-8 inputs">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Usuário</span>
        </div>
        <input type="text" class="form-control" placeholder="Usuário">
      </div>
      <div class="input-group col-8 inputs">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Senha</span>
        </div>
        <input type="password" class="form-control" placeholder="******">
      </div>

      <button class="inputs botao">Entrar</button>
    </form>
  </div>

</body>